h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
li,
ul,
ol,
blockquote,
pre,
code,
input,
textarea,
select,
nav,
footer,
header,
section {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

img {
    width: 50%;
    right: 50%;
}

p {
  text-decoration: none;
}

h3 {
  color: #00ade5;
  font-weight: 500;
  padding: 1rem;
}

h4 {
  color: #00ade5;
  font-weight: 300;
  padding: 1rem;
}

.logo {
  display: grid;
  justify-content: left;
}

.header {
  display: grid;
  justify-content: center;
}

.footer {

  background-color: #00ade5;
  padding: 0 0 30px 0;

}
.direccion {
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#cartas {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;

}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 1px;
  box-shadow: 0 7px 10px rgba(100, 100, 100, 0.5);
}

.card-title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
}


@media (min-width: 20em) {
  #cartas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }
}
@media (min-width: 40em) {
  #cartas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }

}
@media (min-width: 60em) {
  #cartas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }

}
